<div class="grid">
  <button (click)="presionarBoton('1')">1</button>
  <button (click)="presionarBoton('2')">2</button>
  <button (click)="presionarBoton('3')">3</button>
  <button (click)="presionarBoton('4')">4</button>
  <button (click)="presionarBoton('5')">5</button>
  <button (click)="presionarBoton('6')">6</button>
  <button (click)="presionarBoton('7')">7</button>
  <button (click)="presionarBoton('8')">8</button>
  <button (click)="presionarBoton('9')">9</button>
  <button (click)="presionarBoton('0')">0</button>
  <button (click)="presionarBoton('+')">+</button>
  <button (click)="presionarBoton('-')">-</button>
  <button (click)="presionarBoton('*')">*</button>
  <button (click)="presionarBoton('/')">/</button>
  <button (click)="presionarBoton('=')">=</button>
  <button (click)="presionarBoton('C')">C</button>
</div>